[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    # whitespace before ':'. This is meant to handle `if thing :`, but incorrectly flags `somelist[1 : 5]`.
    # Black handles this.
    E203,
    # blank line at end of file - I don't care, sometimes it's nice.
    W391,
    # line break before binary operator, see https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator
    W503
exclude =
    .git,
    .tox,
    .nox,
    __pycache__
