*.pyc
venv
[Ee][Nn][Vv]
.eggs
MERGED.csv
.DS_Store
__pycache__/*
.pytest_cache/*
**/*.egg-info/*

.vscode
*.sw[pow]
**/*.orig
.python
pip-selfcheck.json
keys/*
*.*~
**/*.log
TAGS
tags

.coverage
.pytest_cache
htmlcov
*.mo

.mypy_cache/*
.hypothesis/*
dist/*


# Important: do not check in api keys! (like motion.key)
*.key
